*, ::before, ::after {
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
* {
    font-family: 'Comic Neue', cursive;
    background-color: cornsilk;
}
.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom:  5px solid black;
    border-width:1px 0;
    list-style:none;
    margin: 0;
    /* 
    margin-left: 30%;
    margin-right: 30%;
    */
    padding:0;
    text-align:center;
    
}
.navBar li{
    display:inline;
    margin-right: 25px;
    font-size: 1.5rem;
}

.footerBar {
    top: 0;
    width: 100%;
    border-top:  5px solid black;
    border-width:1px 0;
    list-style:none;
    margin-top: 100px;
    padding:50px 0;
    text-align:center;
    font-size: 1.5rem;
}

.footerBar li {
    
    margin-right: 25px;
    font-size: 1.5rem; 
}

/******************* Home page *********************************/

.logo {
    width: 10%;
    height: auto;
    display: block;
    margin: 60px auto;

    /*
 border: 1px solid black;
 box-shadow: 0 0 10px gray;
*/
}

.artistPhoto {
    width: 30%;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
}

.artistBio {
    display: inline;
    width: 45%;
    height: auto;
    border: 3px solid black;
    font-size: 1.3rem;
    padding: 180px 50px;
    
    text-align: center;
}
.artistIntro {
    display: flex;
    justify-content: space-around;

}
.hCenter {
    font-size: 2.5rem;
    text-align: center;
    border: 3px solid black;
    padding: 50px;
    margin: 100px;
}
.featured {
    width: 30%;
    height: 40%;
    box-shadow: 0 0 10px gray;
    border: 1px solid black;
}

.title {
    display: inline;
    width: 30%;
    height: auto;
    border: 1px solid black;
   padding: 20px;
   margin: 50px;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 500;
   box-shadow: 0 0 10px gray;
   
}

.fPhotos, .fTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


  /******************* About Me page *********************************/ 

.coverAM {
    height: 20%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
    margin-bottom: 20px;
}

.aboutMe {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: center;
    font-size: 1.8rem;
    border: 1px solid black;
    padding: 2%;
    width: 75%;
}
.imgAM {
    width: auto;
    height: 300px;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
}
.lineOne {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.workAM {
    width: 55%;
    margin-right: 2%;
    text-align: center;
    border: 1px solid black;
    font-size: 1.8rem;

}
.lineTwo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lineThree {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/******************* Contact page *********************************/ 
.contactText {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info {
    width: 40%;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;

}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.b1 {
    margin-right: 2%;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 700;
}


/******************* Paintings & Drawings page *********************************/

.hLeft {
    font-size: 2.5em;
    text-align: center;
    border: 2px solid black;
    width: 30%;
    padding: 20px;
   
}

.gPhoto {
    width: auto;
    height:70px;
    border: 1px solid black;

}
.navigation {
    width: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
 .top {
     display: flex;
     justify-content: space-around;
     margin: 50px;
 }

 .gPhotoB {
     width: 45%;
     height: auto;
     padding: 40px;
     border: 1px solid  black;
     box-shadow: 0 0 10px gray;
 }

 .titleP {
     width: 45%;
     border: 1px solid black;
     font-size: 2rem;
     text-align: center;
     box-shadow: 0 0 10px gray;
 }

 .gallery {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;

 }

 


